:root {

    --fs: 16px;
    --nav-clr-main: #393b42;
    --nav-clr-exit: #4f525c;
    --nav-clr-acc: #686c7a;
    --box-size: 5rem;
    --icon-clr-primary: #9670e0;
    --icon-clr-secondary: #6c42bd;
    --main-clr: #ebdff5;
    --select-clr: #dea4de;
    --transition-spd: 200ms;
    font-family: 'Jost', sans-serif;
    font-size: var(--fs);
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 200;
}

svg {
    padding: 0;
    height: 100%;
}

/*--------------------{GRID}--------------------*/
.wrapper {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-areas:
        "nav main"
    ;
    background-color: var(--main-clr);
}

.navbar {
    position: relative;
    grid-area: nav;
    background-color: var(--nav-clr-main);
    height: 100vh;
    transition: 1s ease;
}

.main {
    grid-area: main;
    margin-left: 2rem;
    margin-right: 2rem;

}

/*--------------------{NAVBAR}--------------------*/
.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--nav-clr-main);
    position: fixed;
    height: 100vh;
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 200ms ease;
}

.navbar-nav:hover {
    width: 16rem;
}

.navbar-nav:hover .logo svg {
    margin-left: 11.5rem;
    transform: rotate(225deg);
}

.link-text {
    visibility: hidden;
}

.navbar-nav:hover .link-text {
    display: block;
    transition: 200ms;
    transition-delay: 90ms;
    visibility: visible;
    transform: translateX(10px);
}

.logo-text {
    transition: var(--transition-spd);
    text-transform: uppercase;
    opacity: 0;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.2ch;
    transform: translateX(-20px);
}

.navbar-nav:hover .logo-text {
    display: block;
    transition: 0.5s;
    transition-delay: 250ms;
    visibility: visible;
    transform: translateX(10px);
    opacity: 1;
}


/*--------------------{NAVBAR-ITEMS}--------------------*/
.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;

}

/*--------------------{LOGO}--------------------*/
.logo {
    width: 100%;
}

.logo svg {
    position: absolute;
    transform: rotate(0deg);
    transition: var(--transition-spd);

}

/*--------------------{NAVBAR-LINK--------------------*/
.nav-link {
    display: flex;
    position: relative;
    align-items: center;
    height: 5rem;
    color: var(--main-clr);
    text-decoration: none;
    transition: var(--transition-spd);
}


/*--------------------{SVG}--------------------*/
.nav-link svg {
    width: calc(var(--box-size) / 2);
    min-width: calc(var(--box-size) / 2);
    margin: 0 calc(var(--box-size) / 4);
}

.fa-primary {
    fill: var(--icon-clr-primary);
    transition: var(--transition-spd);
}

.fa-secondary {
    fill: var(--icon-clr-secondary);
    transition: var(--transition-spd);
}

.nav-item:hover .fa-primary {
    fill: var(--select-clr);
}


/*--------------------{MAIN}--------------------*/
.main {
    display: grid;
    grid-template-rows: repeat (5, auto);
    justify-content: space-between;
}



/*--------------------{lOGO}--------------------*/